[[source]]
# url = "https://pypi.python.org/simple"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
django = "<3.0"
django-oidc-provider = {editable = true, ref = "develop", git = "https://github.com/juanifioren/django-oidc-provider.git"}

[dev-packages]
pre-commit = "*"
